<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, EnterpriseLibrary.Common" />
    <section name="policyInjection" type="EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, EnterpriseLibrary.PolicyInjection" />
  </configSections>

  <enterpriseLibrary.ConfigurationSource selectedSource="main" parentSource="subordinate">
    <sources>
      <add name="main" type="EnterpriseLibrary.Common.Configuration.FileConfigurationSource, EnterpriseLibrary.Common" filePath="main.config" />
      <add name="subordinate" type="EnterpriseLibrary.Common.Configuration.FileConfigurationSource, EnterpriseLibrary.Common" filePath="subordinate.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <policyInjection>
    <policies>
      <add name="Main Policy">
        <matchingRules>
          <add type="EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, EnterpriseLibrary.PolicyInjection"
            name="Member Name Matching Rule">
            <matches>
              <add match="Method2" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add name="Call Count Handler" type="EnterpriseLibrary.PolicyInjection.TestSupport.ObjectsUnderTest.CallCountHandler, EnterpriseLibrary.PolicyInjection.TestSupport" />
        </handlers>
      </add>
      <add name="Merged Policy">
        <matchingRules>
          <add type="EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, EnterpriseLibrary.PolicyInjection"
            name="Merged Member Name Matching Rule">
            <matches>
              <add match="Merged method" ignoreCase="false" />
              <add match="Method 2" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add name="Call Count Handler" type="EnterpriseLibrary.PolicyInjection.TestSupport.ObjectsUnderTest.CallCountHandler, EnterpriseLibrary.PolicyInjection.TestSupport" />
        </handlers>
      </add>
    </policies>
  </policyInjection>
</configuration>
