<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securityConfiguration" type="EnterpriseLibrary.Security.Configuration.SecuritySettings, EnterpriseLibrary.Security, Version=6.0.0.0" />
    <section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data, Version=6.0.0.0" />
  </configSections>
  <securityConfiguration defaultAuthorizationInstance="RuleProvider"
    defaultSecurityCacheInstance="">
    <authorizationProviders>
      <add type="EnterpriseLibrary.Security.AuthorizationRuleProvider, EnterpriseLibrary.Security, Version=6.0.0.0"
        name="RuleProvider">
        <rules>
          <add expression="I:Fred" name="OnlyFredHasAccess" />
          <add expression="I:Jack" name="OnlyJackHasAccess" />
          <add expression="I:Fred" name="AuthorizationTestTarget-GetCurrentThreadId" />
          <add expression="I:Jack" name="AuthorizationTestTarget-GetCurrentPrincipalName" />
        </rules>
      </add>
    </authorizationProviders>
  </securityConfiguration>
</configuration>
