<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="policyInjection" type="EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, EnterpriseLibrary.PolicyInjection, Version=6.0.0.0" />
    <section name="loggingConfiguration" type="EnterpriseLibrary.Logging.Configuration.LoggingSettings, EnterpriseLibrary.Logging, Version=6.0.0.0" />
    <section name="dataConfiguration" type="EnterpriseLibrary.Data.Configuration.DatabaseSettings, EnterpriseLibrary.Data, Version=6.0.0.0" />
  </configSections>
  <policyInjection>
    <policies>
      <add name="LogBeforeMethodCallPolicy">
        <matchingRules>
          <add type="EnterpriseLibrary.PolicyInjection.MatchingRules.TypeMatchingRule, EnterpriseLibrary.PolicyInjection, Version=6.0.0.0"
            name="Type Matching Rule">
            <matches>
              <add match="LoggingTarget" ignoreCase="false" />
            </matches>
          </add>
          <add type="EnterpriseLibrary.PolicyInjection.MatchingRules.MemberNameMatchingRule, EnterpriseLibrary.PolicyInjection, Version=6.0.0.0"
            name="Member Name Matching Rule">
            <matches>
              <add match="DoSomething" ignoreCase="false" />
            </matches>
          </add>
        </matchingRules>
        <handlers>
          <add logBehavior="Before" beforeMessage="This is before the method call"
            afterMessage="" includeParameterValues="false" includeCallStack="false"
            includeCallTime="false" priority="0" severity="Information"
            type="EnterpriseLibrary.Logging.PolicyInjection.LogCallHandler, EnterpriseLibrary.PolicyInjection"
            name="Log Call Handler">
            <categories>
              <add name="Default Category" />
            </categories>
          </add>
        </handlers>
      </add>
    </policies>
  </policyInjection>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="Default Category" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, EnterpriseLibrary.Logging, Version=6.0.0.0"
        traceOutputOptions="None" type="EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, EnterpriseLibrary.Logging, Version=6.0.0.0"
        name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="EnterpriseLibrary.Logging.Formatters.TextFormatter, EnterpriseLibrary.Logging, Version=6.0.0.0"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Default Category">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
</configuration>
